uthor 	kiraskyler
# data		20150525
# connect 	kiraskyler@163.com
# version 	V0.0.2.20210525
# describe  choose some type files ignore from git
# source	https://www.cnblogs.com/smart-zihan/p/12971502.html

################## code ########################
.gitkeep				# keep dir nor emputy

target
.o

.log
